# Object files
*.o

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so

# Executables
*.exe
*.out

bin/
obj/

*.kate-swp
*~

# temporary files
alto.mng
asm/helloworld.lst
keyboard.conf
temp/

